@import "variable";
/*advertisement*/

@for $i from 1 through 4 {
  .ad-item-#{$i} {
    background-image: url("../img/ad-#{$i}");
  }
}

.ad-list {
  @extend %margin-top;
  li {
    display: block;
    height: 50px;
    border: 1px solid grey;
  }
  a {

  }
}
/*end*/