/*header*/
header {

}

@import "variable";
.header-top {
  ul, li {
    height: 100%;
  }
  li, a {
    line-height: $header-top-h;
    color: $header-top-l-c;
  }
  ul {
  }
  li {
  }
  li:last-of-type a {
    color: $header-top-r-c;
  }
  .border-r a {
    padding-right: 10px;
    border-right: 1px solid $grey;
  }
}

.header-bot {
  ul, li, a {
    //border: 1px solid red;
    height: 100%;
  }
  li, a {
    line-height: $header-bot-h;
  }
  img.logo {

  }
  ul {

  }
  li {

  }
  a {

  }
}

/*end*/