/*header*/
header {

}

@import "variable";
.header-top {
  ul, li {
    height: 100%;
  }
  li, a {
    line-height: $header-top-h;
    color: $header-top-l-c;
  }
  li:last-of-type a {
    color: $header-top-r-c;
  }
  .border-r a {
    padding-right: 10px;
    border-right: 1px solid $white;
  }
}

.header-bot {
  ul, li, a {
    //border: 1px solid red;
    height: 100%;
  }
  li, a {
    line-height: $header-bot-h;
    font-size: 16px;
    color: $black;
  }
  li{
    margin-left: 20px;
  }
  a:hover {
    text-decoration: none;
  }
}

/*end*/