/*header*/
header {

}

@import "variable";
.header-top {
  ul, li, a {
    //border: 1px solid red;
    height: 100%;
  }
  li, a {
    line-height: $header-top-h;
  }
  ul {
  }
  li {
  }
  a {
  }
}

.header-bot {
  ul, li, a {
    //border: 1px solid red;
    height: 100%;
  }
  li, a {
    line-height: $header-bot-h;
  }
  img.logo {

  }
  ul {

  }
  li {

  }
  a {

  }
}

/*end*/