$body-b: #e8f7f7;

$header-b: #fff;
$header-top-h: 40px;
$header-top-b: #13b5b1;
$header-bot-h: 100px;

$banner-h: 380px;
$banner-img: "../img/banner.jpg";

$educate-b: #fff;
$educate-h3-c: #1cb387;
$educate-border-c: #e5e5e5;
$edu-item-h: 80px;

$footer-h: 50px;
$footer-b: #13b5b1;
$footer-margin-bottom: 52px;

$margin-top: 20px;


%margin-top{
  margin-top: $margin-top;
}



