@charset "UTF-8";
footer, .ad-list, .educate .chu, .educate .gao { margin-top: 20px; }

/*结构*/
body { background-color: #e8f7f7; }
header { height: 140px; background-color: #fff; }
.header-top { height: 40px; background-color: #13b5b1; }
.header-bot { height: 100px; }
.banner { height: 380px; }
footer { height: 50px; background-color: #13b5b1; margin-bottom: 52px; }

/*end*/
/*header*/
footer, .ad-list, .educate .chu, .educate .gao { margin-top: 20px; }

.header-top ul, .header-top li { height: 100%; }
.header-top li, .header-top a { line-height: 40px; color: #fff; }
.header-top li:last-of-type a { color: #fffe9d; }
.header-top .border-r a { padding-right: 10px; border-right: 1px solid #fff; }

.header-bot ul, .header-bot li, .header-bot a { height: 100%; }
.header-bot li, .header-bot a { line-height: 100px; font-size: 16px; color: #222; }
.header-bot li { margin-left: 20px; }
.header-bot a:hover { text-decoration: none; }

/*end*/
footer, .ad-list, .educate .chu, .educate .gao { margin-top: 20px; }

/*banner*/
.banner { background: center 0 url("../img/banner.jpg"); background-size: cover; cursor: pointer; }

/*end*/
footer, .ad-list, .educate .chu, .educate .gao { margin-top: 20px; }

/*advertisement*/
.ad-item-1 { background: center center url("../img/ad-1.jpg") no-repeat; background-size: contain; }

.ad-item-2 { background: center center url("../img/ad-2.jpg") no-repeat; background-size: contain; }

.ad-item-3 { background: center center url("../img/ad-3.jpg") no-repeat; background-size: contain; }

.ad-item-4 { background: center center url("../img/ad-4.jpg") no-repeat; background-size: contain; }

.ad-list li { display: block; height: 180px; margin-bottom: 10px; }
.ad-list a { display: block; width: 100%; height: 100%; }

/*end*/
footer, .ad-list, .educate .chu, .educate .gao { margin-top: 20px; }

/*教育list*/
.chu-item-1 { background: center center url("../img/chu/chu-1.jpg") no-repeat; background-size: contain; }

.chu-item-2 { background: center center url("../img/chu/chu-2.jpg") no-repeat; background-size: contain; }

.chu-item-3 { background: center center url("../img/chu/chu-3.jpg") no-repeat; background-size: contain; }

.chu-item-4 { background: center center url("../img/chu/chu-4.jpg") no-repeat; background-size: contain; }

.chu-item-5 { background: center center url("../img/chu/chu-5.jpg") no-repeat; background-size: contain; }

.chu-item-6 { background: center center url("../img/chu/chu-6.jpg") no-repeat; background-size: contain; }

.gao-item-1 { background: center center url("../img/gao/gao-1.jpg") no-repeat; background-size: contain; }

.gao-item-2 { background: center center url("../img/gao/gao-2.jpg") no-repeat; background-size: contain; }

.gao-item-3 { background: center center url("../img/gao/gao-3.jpg") no-repeat; background-size: contain; }

.gao-item-4 { background: center center url("../img/gao/gao-4.jpg") no-repeat; background-size: contain; }

.gao-item-5 { background: center center url("../img/gao/gao-5.jpg") no-repeat; background-size: contain; }

.gao-item-6 { background: center center url("../img/gao/gao-6.jpg") no-repeat; background-size: contain; }

.educate .chu, .educate .gao { background-color: #fff; }
.educate .chu h3, .educate .gao h3 { font-weight: 800; color: #1cb387; }

.edu-chu li, .edu-gao li { border: 1px solid #e5e5e5; height: 80px; margin-bottom: 4px; width: 180px; }
.edu-chu a, .edu-gao a { display: block; height: 100%; width: 100%; line-height: 80px; color: #222; text-decoration: none; }
.edu-chu span, .edu-gao span { display: block; float: left; width: 60px; height: 100%; margin-right: 10px; }

/*end*/
footer, .ad-list, .educate .chu, .educate .gao { margin-top: 20px; }

/*页脚*/
footer ul { height: 100%; line-height: 50px; }
footer ul a { border-right: 1px #fff solid; padding-right: 10px; color: #fff; }
footer ul li.active a { color: #fffe9d; }
footer ul li:last-of-type a { border-right: none; }

/*end*/

/*# sourceMappingURL=main.css.map */
