@import "variable";

/*结构*/
.wow {
  display: none;
  &.wow-show{
    display: block;
  }
}
body {
  background-color: $body-b;
  min-width: 572px;
  @at-root header {
    height: $header-top-h + $header-bot-h;
    background-color: $header-b;
    @at-root .header-top {
      height: $header-top-h;
      background-color: $header-top-b;
    }
    @at-root .header-bot {
      height: $header-bot-h;
    }
  }
  @at-root .content {
    @at-root .banner {
      height: $banner-h;
    }
    @at-root .ad {

    }
    @at-root .educate {

    }
  }
  @at-root footer {
    height: $footer-h;
    background-color: $footer-b;
    margin-bottom: $footer-margin-bottom;
    @extend %margin-top;
  }
}
/*end*/

@import "header";
@import "banner";
@import "ad";
@import "list";
@import "footer";
