extend ' .two-size' has no matches
.ul-fa .title h3 {
  border-bottom: 1px #cccdcc solid ;
}
.p-right ul {
  padding: 0;
  list-style-type: none;
}
.p-right .my-work {
  display: block;
  color: #cd8fba;
  font-size: 2rem;
}
/*总列表*/
.ul-fa > li {
  padding: 10px 5px;
  margin: 10px 0;
  background-color: #fff;
  transition: all 1s ease;
  color: #222;
}
.ul-fa > li:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #dedede;
  color: #977e7e;
}
.ul-fa > li:hover h3 {
  color: #977e7e;
}
.ul-fa .title {
  padding: 0 0px;
  margin-bottom: 10px;
}
.ul-fa .title img {
  display: inline-block;
  width: 5.5%;
}
.ul-fa .title h3 {
  display: inline-block;
  width: 90%;
  margin: 0;
  padding: 0 0 2px 10px;
  vertical-align: middle;
}
/*教育背景*/
.jiaoyu-list li {
  float: left;
}
/*项目经验*/
.xiangmu-lsit > li {
  margin: 1rem 0;
}
.xiangmu-lsit > li .row {
  margin-bottom: 0.5rem;
}
.xiangmu-lsit > li ul {
  list-style-type: circle;
  padding: 0 15px;
}
.title-row {
  font-size: 1.6rem;
}
