@import (reference) "_variable";

.p-right {
  ul {
    padding: 0;
    list-style-type: none;
  }
  //border: 1px solid red;
  .my-work {
    display: block;
    color: #cd8fba;
    font-size: 2rem;
  }
}

/*总列表*/
.ul-fa {
  & > li {
    //border: 1px solid red;
    padding: 10px 5px;
    margin: 10px 0;
    background-color: #fff;
    transition: all 1s ease;
    color: #222;
    &:hover {
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2),-1px -1px 1px 1px rgba(0, 0, 0, .2);
      background-color: #dedede;
      color: #977e7e;
      h3{
        color: #977e7e;
      }
    }
  }
  .title {
    padding: 0 0px;
    //height: 40px;
    margin-bottom: 10px;
    img {
      display: inline-block;
      width: 5.5%;
      //vertical-align: bottom;
    }
    h3 {
      display: inline-block;
      width: 90%;
      margin: 0;
      padding: 0 0 2px 10px;
      vertical-align: middle;
      &:extend(.border-bottom);
      //background-color: green;
    }
  }
}

/*教育背景*/
.jiaoyu-list {
  ul {
    //background-color: red;
  }
  li {
    float: left;
  }
  p {
    &:extend(.two-size);
  }
}

/*项目经验*/
.xiangmu-lsit {
  & > li {
    margin: 1rem 0;
    .row {
      margin-bottom: 0.5rem;
    }
    ul {
      list-style-type: circle;
      padding: 0 15px;
    }
  }
}
.title-row {
  font-size: 1.6rem;
}

